@model RadioSearcher.Models.Presentation.IndexModel
@{
    ViewBag.Title = "Search Page";
}
<div>
    <img src="/Content/img/spin.gif" class="spinner" id="spin" />
</div>
<div class="row">
    <div class="col-12">
        @using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "w-100", role = "form" }))
        {
            <form name="Form">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        @if (Session["request"] != null && Session["badConnection"] == null)
                        {
                            <label>@Session["count"] results for '@Session["request"]'</label>
                        }
                    </div>
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12">
                        <input autofocus name="request" type="text" class="form-control" id="search" aria-describedby="search" placeholder="Search...">
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12">
                        <button type="submit" class="btn btn-primary" onclick="Spinner()">Search</button>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" id="belchip" type="checkbox" value="" name="belchip">
                            belchip.by
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" id="radioshop" type="checkbox" value="" name="radioshop">
                            radioshop.ru
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" id="selectAll" type="checkbox" value="" onclick="pickAll()">
                            select all
                        </label>
                    </div>
                </div>
            </form>
        }
    </div>
    <div class="col-12 text-center">
        <span class="text-danger">@Session["badConnection"]</span>
    </div> 
    <div class="col-12 row" id="productsData">
        @foreach (var item in Model.Products)
        {
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" style="padding: 10px;">
                <div class="product-style">
                    <h5 class="word-wrap">@item.Name</h5>
                    <a href=@item.ProductLink>
                        <img src=@item.ImgUrl alt="Not Found" class="product-img" />
                    </a>
                    <h6>@item.Cost</h6>
                    <p>@item.IsAvailable</p>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function pickAll() {
        if ($('#selectAll').is(':checked')) {
            $('#belchip').prop('checked', true);
            $('#radioshop').prop('checked', true);
        }
    }

    $(window).scroll(function () {
        if (window.$(window).scrollTop() === window.$(document).height() - window.$(window).height()) {
            getData();
        }
    });

    function getData() {
        $.ajax({
            type: 'GET',
            url: '/home/GetProductsJson',
            dataType: 'json',
            beforeSend: function () {
                document.getElementById('spin').style = 'visibility:visible;';
            },
            success: function (data) {
                for (var i = 0; i < data.Products.length; i++) {
                    window.$('#productsData').append(`<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" style="padding: 10px;">
                                                        <div class="product-style">
                                                            <h5 class="word-wrap">${data.Products[i].Name} </h5 >
                                                            <a href="${data.Products[i].ProductLink}">
                                                                <img src="${data.Products[i].ImgUrl}" alt="Not Found" class="product-img"/>
                                                            </a>
                                                            <h6>${data.Products[i].Cost}</h6>
                                                            <p>${data.Products[i].IsAvailable}</p>
                                                        </div>
                                                      </div>`
                    );
                }
                document.getElementById('spin').style = 'visibility:hidden;';
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        });
    }

    function Spinner() {
        document.getElementById('spin').style = 'visibility:visible;';
    }
</script>







